<div class="container">
  <form>
  <div class="text-center">
    <img src="../assets/evolved.png" alt="Evolved Boutique" width="30%">
    <h1 class="text-center text-primary">Establecimiento de Moda</h1>
    <p class="text-center" style="font-size: 2rem;"><i>Ser elegante por naturaleza.</i></p>
    <app-menu-principal></app-menu-principal>
    <router-outlet></router-outlet>
  </div>
</form>
</div>
<footer class="bg-dark text-light py-3 text-center">
  <p>&copy; 2023 Evolved Boutique - Todos los derechos reservados.</p>
</footer>