

<head>
    <link href="/dist/output.css" rel="stylesheet">
</head>



<div class="main">
    <div class="header">
        <div class="logo">Evolved Boutique Establecimiento de Moda</div>
    </div>
    <div class="info">
        <h1>Sobre nosotros</h1>
        <p><b>Ser elegante por naturaleza.</b>
            <br>Evolved Boutique es una tienda de moda que se dedica a ofrecer lo último en tendencias y estilos.
            Nuestra misión es ayudarte a expresar tu personalidad a través de la ropa y accesorios que ofrecemos.
            ¡Descubre un mundo de moda con Evolved Boutique!
        </p>
    </div>
</div>

<section id="header">
</section>

<div class="bg-gray-100" style="text-align: justify;">
    <div class="mx-auto max-w-7xl px-4 sm:px-4 lg:px-4">
        <div class="mx-auto max-w-2xl py-10 sm:py-12 lg:max-w-none lg:py-32">
            <h2 class="text-2xl font-bold text-gray-900">Algunos de Nuestros Productos</h2>
            <div class="mt-6 space-y-6 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                <div class="group relative">
                    <div
                        class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="../../../../assets/img/abrigo.jpg" alt="gafas..."
                            class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                    </h3>
                    <p class="text-base font-semibold text-gray-900">Abrigos</p>
                </div>
                <div class="group relative">
                    <div
                        class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="../../../../assets/img/blusa.jpg" alt="baniador..."
                            class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                    </h3>
                    <p class="text-base font-semibold text-gray-900">Blusas</p>
                </div>
                <div class="group relative">
                    <div
                        class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="../../../../assets/img/pantalon.jpg" alt="gorra..."
                            class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                    </h3>
                    <p class="text-base font-semibold text-gray-900">Pantalones</p>
                </div>
            </div>

            <br>
            <h2 class="text-2xl font-bold text-gray-900">Accesorios</h2>

            <div class="mt-6 space-y-6 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                <div class="group relative">
                    <div
                        class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="../../../../assets/img/cartera.jpg" alt="aletas..."
                            class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                    </h3>
                    <p class="text-base font-semibold text-gray-900">Carteras</p>
                </div>
                <div class="group relative">
                    <div
                        class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="../../../../assets/img/gafa.jpg" alt="tablas..."
                            class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                    </h3>
                    <p class="text-base font-semibold text-gray-900">Gafas</p>
                </div>
                <div class="group relative">
                    <div
                        class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="../../../../assets/img/sombrero.jpg" alt="palas..."
                            class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                    </h3>
                    <p class="text-base font-semibold text-gray-900">Sombreros</p>
                </div>
            </div>
        </div>
    </div>
</div>