<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Iniciar Sesión</div>
        <div class="card-body">
          <form (ngSubmit)="Ingreso()">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="users.correo">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="users.psw">
            </div>
            <!-- Advertencia si los campos están vacíos -->
            <div class="alert alert-warning" *ngIf="!camposLlenos">
              Por favor, complete todos los campos.
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
